body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

body {
    background-image: url("images/background.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: minmax(10%, auto-fit) auto;
    grid-template-areas: 
    ". title ."
    ". form ."
    ;
}

#form {
    margin: 50px 0 50px 0;
}

div#form form > div {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 25px;
    font-size: 1.25rem;
}

#title {
    grid-area: title;
    margin: auto;
    text-align: center;
    
}

#title h1 {
    color: white;
    /* This creates a black outline for the title h1 element text */
    font-size: 3.5rem;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
    
}

#title p {
    color: white;
    font-size: 1.3rem;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

#form {
    grid-area: form;
    /* background-color: rgba(225, 179, 130, 0.5); */
    background-color: rgba(192, 192, 192, 0.9);
    color:black;
    /* text-shadow:
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white; */
    
    
    
}

#form form {
    box-sizing: border-box;
    margin-left: auto; margin-right: auto;
    padding: 15px;
    text-align: center;
}

#checkbox label {
    display: flex;
    align-items: center;
}

.textarea {
    text-align: left;

}

#textarea {
    min-height: 125px;
    width: 100%;
}